.slider-container {
  background-color: #ffffff;

  width: 80%;

  max-width: 1100px;
  margin-top: 10px;
}

.slick-prev:before,
.slick-next:before {
  color: #989898;
}

.top-rated-book-card-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pic-style {
  margin: 10px;
  height: 100px;
  width: 100px;
}

.title-style {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  text-align: center;

  /* Light / blue-gray / 700 */

  color: #334155;

  height: 16px;
  width: 64px;
  margin-left: 69px;
}

.name-style {
  width: 67px;
  height: 12px;
  margin-left: 67px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height, or 114% */

  text-align: center;

  /* Light / blue-gray / 600 */

  color: #475569;
}

@media Screen and (min-width: 768px) {
  .pic-style {
    width: 300px;
    height: 224px;

    border-radius: 4px;
  }
  .title-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    text-align: center;

    /* Light / blue-gray / 700 */

    color: #334155;
  }

  .name-style {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    text-align: center;

    /* Light / blue-gray / 600 */

    color: #475569;
  }
}
