.slider-container {
  background-color: #ffffff;
  padding: 15px;
}

.slick-prev:before,
.slick-next:before {
  color: #989898;
}

.top-rated-book-card-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.top-rated-book-pic-style {
  width: 146px;
  height: 99px;

  border-radius: 2px;
}

.top-rated-book-title-style {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;

  /* identical to box height, or 133% */
  height: 32px;
  width: 127px;
  text-align: center;

  /* Light / blue-gray / 700 */

  color: #334155;
}

.top-rated-book-name-style {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  text-align: center;
  height: 16px;
  width: 93px;

  border-radius: nullpx;

  /* Light / blue-gray / 600 */

  color: #475569;
}

@media Screen and (min-width: 768px) {
  .slider-container {
    background-color: #ffffff;

    width: 100%;
    max-width: 1100px;
  }

  .top-rated-book-pic-style {
    width: 300px;
    height: 200px;
    margin: 0px 10px;
    border-radius: 4px;
  }
  .top-rated-book-title-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    /* identical to box height, or 133% */
    height: 32px;
    width: 230px;
    margin: 0px;
    text-align: center;

    /* Light / blue-gray / 700 */

    color: #334155;
  }

  .top-rated-book-name-style {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;

    /* Light / blue-gray / 600 */

    color: #475569;
  }
}
