.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: #e5e5e5;
  height: 100vh;
}

.home-description-card {
  background-color: #e5e5e5;
  width: 100%;
}

.home-page-heading {
  position: absolute;
  width: 312px;
  height: 32px;
  left: 24px;
  top: 80px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;

  display: flex;
  align-items: center;

  color: #1e293b;
}

.home-page-description {
  position: absolute;
  width: 312px;
  height: 96px;
  left: 24px;
  top: 120px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: #475569;
}

.home-page-find-button {
  position: absolute;
  width: 104px;
  height: 36px;
  left: 24px;
  top: 232px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;

  background-color: #0284c7;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.books-display-card {
  position: absolute;
  width: 100%;
  height: 203px;
  left: 0px;
  top: 284px;

  background-color: #ffffff;
  box-shadow: 0px 0px 0.443396px rgba(40, 41, 61, 0.08),
    0px 0.443396px 0.886792px rgba(96, 97, 112, 0.16);
}

.display-card-heading {
  position: absolute;
  width: 130px;
  height: 24px;
  left: 24px;
  top: 300px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Light / blue-gray / 800 */

  color: #1e293b;
}

.display-card-find-button {
  display: none;
}

.footer-section {
  height: 16px;
  width: 111px;
  margin-left: 125px;

  background-color: #3d3c3c;
}

.icon-style {
  height: 16px;
  width: 14px;
  font-family: Font Awesome 5 Brands;
  font-style: normal;
  font-weight: normal;
  font-size: 13.7143px;
  line-height: 16px;
  text-align: center;

  color: #3d3c3c;
}

.footer-note {
  height: 16px;
  width: 60px;
  margin-left: 150px;
  left: 41.67%;
  right: 41.67%;
  top: 90.08%;
  bottom: 7.44%;

  font-family: ' HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;

  color: #3d3c3c;
}

@media Screen and (min-width: 768px) {
  .home-page-heading {
    position: absolute;
    width: 601px;
    height: 64px;
    left: 100px;
    top: 137px;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 64px;

    display: flex;
    align-items: center;

    color: #1e293b;
  }
  .home-page-description {
    position: absolute;
    width: 998px;
    height: 64px;
    left: 100px;
    top: 213px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;

    display: flex;
    align-items: center;

    color: #475569;
  }

  .home-page-find-button {
    display: none;
  }

  .books-display-card {
    position: absolute;
    width: 1150px;
    height: 424px;
    left: 100px;
    top: 309px;

    background-color: #ffffff;

    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
      0px 1px 2px rgba(96, 97, 112, 0.16);
    border-radius: 16px;
  }

  .books-display-card-header {
    display: flex;
    justify-content: space-between;
  }

  .display-card-heading {
    width: 100px;
    height: 32px;
    text-align: start;
    padding: 10px;
    order: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;

    color: #1e293b;
  }
  .display-card-find-button {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #0284c7;
    border-radius: 4px;
    width: 120px;
  }
  .footer-section {
    height: 21px;
    width: 145px;
    margin-left: 647px;
    background-color: #3d3c3c;
  }

  .icon-style {
    height: 21px;
    width: 18px;

    left: 44.93%;
    right: 53.82%;
    top: 87.79%;
    bottom: 10.16%;

    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #3d3c3c;
  }

  .footer-note {
    height: 24px;
    width: 80px;
    margin-left: 679px;

    left: 47.15%;
    right: 47.29%;
    top: 91.41%;
    bottom: 6.25%;

    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #3d3c3c;
  }
}
