.desktop-view {
  display: none;
}

.header-container {
  height: 56px;
}
.body-container {
  background-color: #e5e5e5;
}

.bookhub-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.home-description-card {
  background-color: #e5e5e5;
  width: 100%;
  height: 40vh;
}

.home-page-heading {
  width: 100%;
  height: 32px;
  margin-left: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #1e293b;
}

.home-page-description {
  width: 100%;
  height: 96px;
  margin-left: 24px;
  margin-top: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #475569;
}

.home-page-find-button {
  width: 104px;
  height: 36px;
  margin-left: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  /* Light / blue-gray / 50 */

  color: #f8fafc;
  background-color: #0284c7;
  border-radius: 4px;
}

.books-display-card {
  width: 100%;
  height: 304px;
  margin-left: 0px;
  background-color: #ffffff;
  box-shadow: 0px 0px 0.443396px rgba(40, 41, 61, 0.08),
    0px 0.443396px 0.886792px rgba(96, 97, 112, 0.16);
}

.slider-container {
  background-color: #ffffff;
  padding: 15px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.slick-prev:before,
.slick-next:before {
  color: #989898;
}

.top-rated-book-card-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.top-rated-book-pic-style {
  width: 146px;
  height: 99px;

  border-radius: 2px;
}

.top-rated-book-title-style {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;

  /* identical to box height, or 133% */
  height: 32px;
  width: 127px;
  text-align: center;

  /* Light / blue-gray / 700 */

  color: #334155;
}

.top-rated-book-name-style {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  text-align: center;
  height: 16px;
  width: 93px;

  border-radius: nullpx;

  /* Light / blue-gray / 600 */

  color: #475569;
}

.books-display-failure-card {
  width: 100%;
  height: 424px;
  margin-left: 0px;
  margin-bottom: 70px;
  background-color: #ffffff;
  box-shadow: 0px 0px 0.443396px rgba(40, 41, 61, 0.08),
    0px 0.443396px 0.886792px rgba(96, 97, 112, 0.16);
}

.books-display-card-header {
  display: flex;
  justify-content: flex-start;
}
.books-display-failure-card-header {
  display: flex;
  justify-content: flex-start;
}

.display-card-heading {
  width: 130px;
  height: 24px;
  margin-left: 24px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Light / blue-gray / 800 */

  color: #1e293b;
}

.display-failure-card-heading {
  width: 130px;
  height: 24px;
  margin-left: 24px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Light / blue-gray / 800 */

  color: #1e293b;
}

.display-card-find-button {
  display: none;
}

.slick-display-style {
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
}

.footer-section {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  margin-left: 125px;
  margin-top: 64px;
}

.footer-icons-container {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100px;
  margin-left: 125px;
}

.icon-style {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  font-size: 13.7143px;
  line-height: 16px;
  /* identical to box height */

  text-align: center;

  color: #3d3c3c;
  height: 16px;
  width: 14px;
}

.footer-note {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  margin-left: 150px;
  color: #3d3c3c;
}

.something-wrong-view-container {
  display: flex;
  flex-direction: column;
  margin-left: 59px;
  margin-top: 20px;
}

.something-wrong-view {
  height: 120px;
  width: 243px;
  margin-left: 10px;

  border-radius: 0px;
}

.something-wrong-heading {
  font-family: 'Inter';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  width: 231px;
  height: 16px;
  margin-left: 65px;
  color: #475569;
}

.something-wrong-try-again-button {
  height: 32px;
  width: 87px;
  border-radius: 8px;
  padding: 8px, 16px, 8px, 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0284c7;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  /* Light / base / white */

  color: #ffffff;

  order: 0;
  flex-grow: 0;
  margin: 12px 123px 26px 146px;
}

@media Screen and (min-width: 768px) {
  .mobile-view {
    display: none;
  }

  .desktop-view {
    display: block;
    display: flex;
    flex-direction: row;
  }
  .home-description-card {
    background-color: #e5e5e5;
    width: 100%;
  }

  .home-page-heading {
    width: 100%;
    height: 64px;
    margin: 48px 739px 12px 100px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 64px;

    display: flex;
    align-items: center;

    color: #1e293b;
  }
  .home-page-description {
    width: 80%;
    height: 64px;
    margin-left: 100px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;

    display: flex;
    align-items: center;

    color: #475569;
  }

  .home-page-find-button {
    display: none;
  }

  .books-display-card {
    width: 90%;
    height: 524px;
    margin-left: 100px;
    margin-bottom: 150px;
    margin-right: 100px;
    background-color: #ffffff;
    padding: 25px;

    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
      0px 1px 2px rgba(96, 97, 112, 0.16);
    border-radius: 16px;
  }

  .books-display-card-header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    width: 100%;
  }

  .display-card-heading {
    width: 100%;
    height: 32px;
    text-align: start;
    padding: 10px;
    order: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;

    color: #1e293b;
  }
  .display-card-find-button {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #0284c7;
    border-radius: 4px;
    width: 120px;
    margin-left: 50vw;
  }
}

@media Screen and (min-width: 768px) {
  .footer-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
    margin-left: 480px;
    margin-top: 64px;
  }

  .footer-icons-container {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .icon-style {
    height: 45px;
    width: 50px;
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    color: black;
  }

  .footer-note {
    height: 24px;
    width: 80px;
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    /* identical to box height, or 150% */

    color: #3d3c3c;
  }

  .something-wrong-view-container {
    margin: 0px 240px 300px 240px;
  }

  .something-wrong-view {
    height: 230px;
    width: 469px;

    border-radius: 0px;
  }

  .something-wrong-heading {
    height: 48px;
    width: 469px;

    font-family: ' Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 48px;

    color: #475569;
  }

  .something-wrong-try-again-button {
    height: 48px;
    width: 112px;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0284c7;
    flex: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 16px;
    /* identical to box height, or 133% */

    /* Light / base / white */

    color: #ffffff;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
  }
}

@media Screen and (min-width: 768px) {
  .slider-container {
    background-color: #ffffff;
    display: flex;
    width: 100%;
    max-width: 1100px;
  }

  .top-rated-book-pic-style {
    width: 300px;
    height: 200px;
    margin: 0px 10px;
    border-radius: 4px;
  }
  .top-rated-book-title-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    /* identical to box height, or 133% */
    height: 32px;
    width: 230px;
    margin: 0px;
    text-align: center;

    /* Light / blue-gray / 700 */

    color: #334155;
  }

  .top-rated-book-name-style {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;

    /* Light / blue-gray / 600 */

    color: #475569;
  }
}
