.desktop-view {
  display: none;
}

@media Screen and (min-width: 768px) {
  .mobile-view {
    display: none;
  }

  .desktop-view {
    display: block;
    display: flex;
    flex-direction: row;
  }
}
