.nav-header {
  height: 56px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.nav-content {
  display: none;
}

.nav-menu-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.website-logo {
  width: 100%;
}

.hamburger-icon {
  background-color: transparent;
  border: 0px solid transparent;
  width: 100%;
  text-align: right;
  color: #475569;
}

.ham-menu-display {
  background-color: #e5e5e5;
}

.nav-menu-list-mobile {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.nav-menu-item-mobile {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.355556px;
  color: #64748b;
}
.logout-mobile-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;

  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background-color: #0284c7;
  border: 1px solid #0284c7;
  border-radius: 4px;

  /* Inside auto layout */
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

@media Screen and (min-width: 768px) {
  .nav-content {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
  }
  .nav-menu-mobile {
    display: none;
  }
  .website-logo {
    width: 100%;
  }
  .nav-menu {
    list-style-type: none;
    margin-left: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
  }
  .nav-link {
    color: blue;
  }
  .logout-desktop-btn {
  }
}
