.nav-header {
  height: 56px;
  position: absolute;
  height: 56px;
  left: 0px;
  right: 0px;
  top: 0px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.nav-content {
  display: none;
}

.nav-menu-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.website-logo {
  position: absolute;
  width: 92px;
  height: 24px;
  left: 24px;
  top: 16px;
}

.hamburger-icon {
  background-color: transparent;
  border: 0px solid transparent;
  width: 100%;
  text-align: right;
  color: #475569;
}

.ham-menu-display {
  background-color: #e5e5e5;
}

.nav-menu-list-mobile {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.nav-menu-item-mobile {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.355556px;
  color: #64748b;
}
.logout-mobile-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;

  position: static;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background-color: #0284c7;
  border: 1px solid #0284c7;
  border-radius: 4px;

  /* Inside auto layout */
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

@media Screen and (min-width: 768px) {
  .nav-content {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border: 1px solid #e4e7eb;
    box-sizing: border-box;
    position: absolute;
    width: 1440px;
    height: 89px;
    right: 0px;
    top: 0px;
    background-color: #ffffff;
  }
  .nav-menu-mobile {
    display: none;
  }
  .website-logo {
    position: absolute;
    width: 133px;
    height: 41px;
    left: 150px;
    top: 24px;
  }
  .nav-menu {
    list-style-type: none;
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
  }
  .nav-link {
    width: 46px;
    height: 24px;
    top: 33px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #0284c7;
    margin: 3px;
  }
  .logout-desktop-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 16px;

    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: 10px;
    background-color: #0284c7;
    border-radius: 4px;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
  }
}
