.login-form-container {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
}

.login-website-mobile-image {
  width: 216px;
  height: 216px;
  margin: 32px 72px;
}

.login-image {
  display: none;
}
.login-website-logo-mobile-image {
  width: 73px;
  height: 17px;
  margin-left: 159px;
  margin-right: 128px;
}
.login-website-logo-desktop-image {
  display: none;
}
.input-container {
  height: 90px;
  width: 312px;
  margin-left: 24px;
  margin-top: 34px;
}
.input-label {
  height: 19px;
  width: 94px;
  margin-left: 0px;
  margin-top: 3px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #5a7184;
}

.username-input-field {
  margin-top: 12px;
  height: 56px;
  width: 312px;
  border-radius: 8px;
  padding: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #183b56;

  background-color: #ffffff;
  border: 1px solid #c3cad9;
  box-sizing: border-box;
  border-radius: 8px;
}

.password-input-field {
  height: 56px;
  width: 312px;
  border-radius: 8px;

  padding: 24px;
  margin-top: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #183b56;

  background-color: #ffffff;
  border: 1px solid #c3cad9;
  box-sizing: border-box;
  border-radius: 8px;
}

.login-button {
  width: 312px;
  height: 40px;
  background-color: #0284c7;
  border-radius: 8px;
  color: #ffffff;
  margin: 24px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.error-message {
  width: 205px;
  height: 18px;
  margin-left: 24px;

  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #ef4444;
}

@media Screen and (min-width: 768px) {
  .login-form-container {
    height: 1024px;
    width: 1440px;
    border-radius: 0px;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 0px;
  }

  .login-website-mobile-image {
    display: none;
  }

  .login-image {
    display: block;
    width: 780px;
    height: 1024px;

    margin: 0px;
  }

  .form-container {
    background-color: #ffffff;
    margin-left: 72px;
    margin-right: 89px;
    width: 499px;
    height: 510px;
    margin-top: 257px;
    margin-bottom: 270px;
    padding: 70px;
  }
  .login-website-logo-mobile-image {
    display: none;
  }
  .login-website-logo-desktop-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 141px;
    height: 48px;
    margin: 0px 170px 31px 130px;
  }

  .input-container {
    height: 90px;
    width: 360px;
    margin: 0px 0px 20px 0px;
  }

  .input-label {
    height: 19px;
    width: 68px;
    margin-top: 3px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #5a7184;
  }

  .username-input-field {
    height: 56px;
    width: 360px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #c3cad9;
    box-sizing: border-box;
    border-radius: 8px;
  }

  .password-input-field {
    height: 56px;
    width: 360px;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #c3cad9;
    box-sizing: border-box;
    border-radius: 8px;
  }

  .error-message {
    width: 215px;
    height: 17px;
    margin: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #ef4444;
  }

  .login-button {
    width: 360px;
    height: 56px;
    background-color: #0284c7;
    border-radius: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    margin: 0px 32px 70px 0px;
    padding: 16px;
  }
}
