.books-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.books-and-header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.status-books-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.books-header {
  order: 0;
}

.status-container {
  order: 0;
}

.books-view {
  order: 2;
}
.footer-section {
  order: 3;
}

.search-fail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-fail-view {
  width: 75%;
}

.search-fail-msg {
  font-size: 16px;
}

.search-container {
  margin-top: 30px;
  margin-left: 20px;
}

.header-container {
  height: 10vh;
  background: #ffffff;
}

.body-container {
  background-color: #e5e5e5;
}

.bookshelves-display-container {
  display: flex;
  flex-direction: column;
}
.bookshelf-header-desktop-view {
  display: none;
}

.bookshelf-header-mobile-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  order: 0;
}

.bookshelf-main-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #334155;
}

.search-container {
  display: flex;
  justify-content: flex-start;
  padding: 0px 16px 0px 16px;
  width: 264px;
  height: 36px;
  background: #ffffff;
  /* Light / blue-gray / 300 */

  border: 1px solid #cbd5e1;
  box-sizing: border-box;
  border-radius: 4px;
  order: 0;
  margin-top: 0px;
  margin-left: 24px;
}

.search-input-style {
  font-family: 'Inter';
  font-style: normal;
  display: flex;
  align-items: center;
  border: 0px;
  padding: 5px;
  color: #94a3b8;
  width: 211px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.search-button {
  width: 52px;
  height: 34px;
  background-color: #94a3b8;
  padding: 0px;
  order: 1;
  border: 0px;
  box-sizing: border-box;
  border-radius: 0px;
}

.search-icon-style {
  background-color: #edeff1;
  height: 20px;
  width: 20px;
}

.status-container {
  display: flex;
  flex-direction: column;
}

.status-main-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0px;
  color: #334155;
  padding-left: 25px;
}

.button-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 5px;
  margin-left: 24px;
  width: 215px;
}

.books-display-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 10px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  margin-left: 125px;
  margin-top: 64px;
}

.footer-icons-container {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100px;
  margin-left: 125px;
}

.icon-style {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  font-size: 13.7143px;
  line-height: 16px;
  /* identical to box height */

  text-align: center;

  color: #3d3c3c;
  height: 16px;
  width: 14px;
}

.footer-note {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  margin-left: 150px;
  color: #3d3c3c;
}

@media Screen and (min-width: 768px) {
  .books-view {
    display: block;
    display: flex;
    flex-direction: row;
  }

  .books-and-header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 30px;
  }

  .status-books-container {
    display: flex;
    flex-direction: column;
  }

  .books-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media Screen and (min-width: 768px) {
  .header-container {
    width: 100%;
    height: 10vh;
    background-color: #ffffff;
    border: 1px solid #e4e7eb;
    box-sizing: border-box;
  }

  .body-container {
    height: 1200px;
    background-color: #e5e5e5;
  }
  .bookshelves-display-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .bookshelf-header-mobile-view {
    display: none;
  }

  .status-container {
    order: 0;
    margin-left: 150px;
    margin-top: 48px;
    width: 256px;
    height: 1176px;
    background-color: #ffffff;
  }

  .status-main-heading {
    width: 124px;
    height: 32px;
    margin-left: 32px;
    margin-top: 32px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;

    color: #334155;
  }

  .button-container {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .bookshelf-header-desktop-view {
    display: block;
    order: 1;
    margin-left: 32px;
    margin-top: 55px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .bookshelf-main-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    /* Light / blue-gray / 700 */
    order: 0;
    color: #334155;
    width: 81px;
    height: 22px;
    margin-right: 510px;
  }

  .search-container {
    display: flex;
    padding: 6px 16px;
    width: 264px;
    height: 36px;
    background: #ffffff;
    /* Light / blue-gray / 300 */

    border: 1px solid #cbd5e1;
    box-sizing: border-box;
    border-radius: 4px;

    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 24px 0px 24px;
  }

  .search-input-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    border: 0px;
    display: flex;
    align-items: center;
    /* Light / blue-gray / 400 */
    color: #94a3b8;
    opacity: 0.8;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
  }
  .search-button {
    width: 52px;
    height: 36px;
    order: 1;
    background-color: #edeff1;
    border: 0px solid transparent;
  }

  .search-icon-style {
    background-color: #94a3b8;
    height: 24px;
    width: 20px;

    border-radius: 0px;
  }

  .result-books-container {
    order: 2;
    display: flex;
    flex-direction: row;
    width: 60%;
  }

  .books-display-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .footer-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
    margin-left: 480px;
    margin-top: 64px;
  }

  .footer-icons-container {
    width: 300px;
    height: 100px;
    background-color: #e5e5e5;

    border: 5px solid #e5e5e5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .icon-style {
    height: 21px;
    width: 18px;
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    color: #3d3c3c;
  }

  .footer-note {
    height: 24px;
    width: 80px;
    font-family: 'HK Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    color: #3d3c3c;
  }
}

.book-info-display {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 24px;
}

.pic-style {
  width: 133px;
  height: 155px;
  margin-left: 24px;
  background-color: #ffffff;
  border-radius: 8px;
}

.book-info-details-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 16px;
}

.title-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  margin: 0px;

  color: #334155;

  width: 146px;
  border-radius: nullpx;
}

.para {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin: 5px;
  color: #475569;
}

.star {
  color: #fbbf24;
  margin-left: 5px;
  margin-right: 5px;
}

.status-style {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  width: 30px;

  color: #0284c7;
}

@media Screen and (min-width: 768px) {
  .book-info-display {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .pic-style {
    width: 133px;
    height: 155px;
    background-color: #ffffff;
    border-radius: 8px;
  }

  .book-info-details-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .title-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    /* Light / blue-gray / 700 */

    color: #334155;
    height: 48px;
    width: 146px;
    border-radius: nullpx;
  }

  .para {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    /* Light / blue-gray / 600 */

    color: #475569;
    width: 100px;
    height: 16px;
  }

  .status-style {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    width: 90px;
    height: 16px;

    color: #0284c7;
  }
}
