.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: #e5e5e5;
  height: 100vh;
}

.header-container {
  height: 20vh;
}
.body-container {
  background-color: #e5e5e5;
}
.bookshelf-header-desktop-view {
  display: none;
}

.bookshelf-header-mobile-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  order: 0;
}

.bookshelf-main-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #334155;
}

.search-container {
  display: flex;
  justify-content: flex-start;
  padding: 6px 16px 0px 16px;
  width: 264px;
  height: 36px;
  background: #ffffff;
  /* Light / blue-gray / 300 */

  border: 1px solid #cbd5e1;
  box-sizing: border-box;
  border-radius: 4px;
  order: 0;
}

.search-input-style {
  font-family: 'Inter';
  font-style: normal;
  display: flex;
  align-items: center;

  /* Light / blue-gray / 400 */

  color: #94a3b8;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.search-button {
  width: 52px;
  height: 34px;
  background: #edeff1;
  border-radius: 0px 3px 3px 0px;
  order: 1;
  margin-left: 0px;
}

.search-icon-style {
  background: #94a3b8;
  height: 20px;
  width: 20px;
}

.status-container {
  display: flex;
  flex-direction: column;
}

.status-main-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #334155;
}

.button-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media Screen and (min-width: 768px) {
  .header-container {
    height: 10vh;
  }

  .body-container {
    background-color: #e5e5e5;
  }
  .bookshelf-header-mobile-view {
    display: none;
  }
  .bookshelf-header-desktop-view {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    order: 1;
  }

  .status-container {
    order: 0px;
    margin-left: 150px;
    width: 256px;
    height: 1176px;
    background-color: #ffffff;
  }

  .status-main-heading {
    width: 124px;
    height: 32px;
    margin-left: 32px;
    margin-top: 32px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;

    color: #334155;
  }

  .button-container {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
