.bookshelf-header-desktop-view {
  display: none;
}

.bookshelf-header-mobile-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  order: 0;
}

.bookshelf-main-heading {
}

.search-container {
  display: flex;
  justify-content: flex-start;
  padding: 6px 16px;
  width: 264px;
  height: 36px;
  background: #ffffff;
  /* Light / blue-gray / 300 */

  border: 1px solid #cbd5e1;
  box-sizing: border-box;
  border-radius: 4px;
  order: 0;
}

.search-input-style {
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 4px 0px;
}

.search-button {
  width: 52px;
  height: 34px;
  background: #edeff1;
  border-radius: 0px 3px 3px 0px;
}

.search-icon-style {
  background: #94a3b8;
  height: 20px;
  width: 20px;
}

.status-container {
  display: flex;
  flex-direction: column;
}

.status-main-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #334155;
}

.button-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.status-button {
  width: 47px;
  height: 24px;
  margin-left: 24px;
  padding: 4px 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #0284c7;
  border: 1px solid #0284c7;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #ffffff;
}

.active-shelf-button {
  background-color: #0284c7;
  color: #f8fafc;
}
